<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      {{#linkTo "index" classNames="navbar-brand"}}Overlay Games{{/linkTo}}
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li>{{#linkTo "games"}}Games{{/linkTo}}</li>
        <li>{{#linkTo "backgrounds"}}Backgrounds{{/linkTo}}</li>
        <li>{{#linkTo "about"}}About{{/linkTo}}</li>
        <li>{{#linkTo "request"}}Make a Request{{/linkTo}}</li>
      </ul>
    </div>
    </div>
  </div>
</nav>

<div id="content" class="container">
  <div class="jumbotron">
    {{outlet}}
  </div>
</div>