<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand">Overlay Games</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li>{{#linkTo "games"}}Games{{/linkTo}}</li>
        <li>{{#linkTo "index"}}Overlays{{/linkTo}}</li>
        <li>{{#linkTo "index"}}About{{/linkTo}}</li>
        <li>{{#linkTo "index"}}Request a Game{{/linkTo}}</li>
      </ul>
    </div>
    </div>
  </div>
</nav>

<div id="content" class="container">
  <div class="jumbotron">
    {{outlet}}
  </div>
</div>